<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:include="plantilla/template :: page">
	
<head th:replace="plantilla/template :: head">

<title th:text="${titulo}">Registrar galp&oacute;n</title>
</head>
<body>
	<div class="container-fluid" th:fragment="content">
		<div class="card">

			<div class="card-body">
				<div class="text-primary" align="center">

					<h1>
						<i th:text="${titulo}"></i>
					</h1>
				</div>

				<form method="post" th:object="${galpon}" th:action="@{/registrarGalpon}">
					
	<div class="form-group">
							<label for="id" id="id">Id: </label>
							<div class="form-group btn col-sm-12 col-md-4 col-lg-3">	
							<label for="codigo"	id="codigo">C&oacute;digo* : </label> 
							<input type="text"	th:field=*{codigo} class="form-control" />							
							<small class="text-danger" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></small><br> 
							</div>
							
								<div class="form-group btn col-sm-12 col-md-4 col-lg-3">	
							<label for="descripcion" id="descripcion">Descripci&oacute;n* : </label> 
							<input type="text" th:field=*{descripcion} class="form-control" /> 
							<small class="text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></small><br>
						</div>
							
							<div class="form-group btn col-sm-12 col-md-4 col-lg-3">	
							<label for="capacidad" id="capacidad">Capacidad* : </label>
							<input type="text" th:field=*{capacidad} class="form-control" />							
							<small class="text-danger" th:if="${#fields.hasErrors('capacidad')}" th:errors="*{capacidad}"></small><br>
								</div>
							<div class="form-group btn col-sm-12 col-md-4 col-lg-3">
								
				<div class="form-group btn col-sm-12 col-md-4 col-lg-3">
						<label for="granja" id="granja">Granjas* :</label>
						
						
						<select
							th:field=*{granja} class="form-control">

							<option value="">Seleccionar</option>
							<option th:each="G: ${granjas}"
								th:text="${G.descripcion}" th:value="${G.id}"></option>

						</select>
					</div>
																						
					<div class="form-group">
						<input class="btn btn-sm btn-info" type="submit"
							th:value="${accion}" /> <a th:href="@{/listarGalpones}"
							class="btn btn-outline-success">Volver</a>
					</div>
						
					</div>		
						</div>
				</form>
				
			</div>
		</div>
	</div>
</body>