<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:include="plantilla/template :: page">
	
<head th:replace="plantilla/template :: head">

	<title th:text="${titulo}">Registrar sensor</title>
</head>
<body>
	<div class="container-fluid" th:fragment="content">
		<div class="card">

			<div class="card-body">
				<div class="text-primary" align="center">

					<h1>
						<i th:text="${titulo}"></i>
					</h1>
				</div>

					<div class="card-body">
						
					<ul class="list-group">
						
						
						<li class="list-group-item"	th:text="'C&oacute;digo: ' + ${sensor.codigo}"></li>

						<li class="list-group-item" th:text="'Descripci&oacute;n: ' + ${sensor.descripcion}"></li>

						<li class="list-group-item"	th:text="'Fecha entrada: ' + ${sensor.registro}"></li>
						
						
					</ul>
	
						<div class="form-group mt-3 d-flex flex-row-reverse" >						
							<a th:href="@{/listarsensores}" class="btn btn-outline-success">Sensores</a>

							<a th:href="@{/inicio}" class="btn btn-outline-success">Menu</a>
						</div>
				</div>
			
			</div>
		</div>
	</div>
</body>